
body {
  background:#222 none repeat scroll 0 0;
  color:#666;
  font-family:Helvetica;
  font-size:72%;
  line-height:1.5em;
  margin:0;
  padding:0;
  /*border-top:1px solid #393939;*/
}

b { font-weight: bold; }

#selectedInterface, #Interfaces, #Destinations, #Preferences, #Info {
  position:absolute;
  left:0em;
  top:0em;
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  overflow:hidden;
  background-color:#000;
  /*display:none;*/
  /*-webkit-transition: height .2s linear;*/
}

#Interface { display: block; }

li { color: #fff; }

#selectedInterface { background-color:#000; }

canvas { margin: 0; padding: 0;}

h3 { font-weight: normal !important;}

#Info { overflow:scroll; height:85%}

#Info p {
	padding:0em 1em;
	color:#ccc;
	font-size:1em;
}

#Info a { color:#ccc; }
#Info ul { list-style:none; padding:1em; font-size:1em;}

.edit { 
	margin:0px;
	font-size:.7em;
	color:#fff; 
	-webkit-border-radius:4px; 
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #333333), color-stop(0.05, #333333), color-stop(1, #000000));
	top:.70em;
	display:block;
	
}
.ftr {
	font-size: .7em; 
	padding:.2em .2em .2em .2em;
	width:100%;
}

.edit { position:absolute; left:.5em;  width:4em; height:1.9em;  top:.925em;}
.add  { position:absolute; right:.5em; font-weight:bold;width:3em; height:1.5em;	font-size:.9em; float:right;}

#_footer {
    border-width:0;
    color-stop(0, 	#222222),
    color-stop(1, 	#000000));
    position:fixed; bottom:0px; width:100%; height:35px; display:block;
}

#_footer a {
    padding: .5em;
}

ul li { font-size: 1em; }

.destinationListItem {
    height: 2em !important;
    line-height: 2em !important;
    width: 100%;
    border-bottom: 1px solid #666;
    font-size: 1em;
    font-weight:normal;
    padding:.5em 0 .5em 1em;
}

.destinationImage { 
    position:absolute !important;
    left:80% !important;    /* TODO: shouldn't this use right? Can't get it to work it and I'm worried it will cause problems at different resolutions / non-iOS */
    width:2em;
    height:2em;
    margin-top:.5em;
}

.preferencesListItem {
    width: 100%;
    border-bottom: 1px solid #666;
    font-size: 1em;
    font-weight:normal;
}

/* jQuery overrides */
.ui-btn-text   { text-overflow: clip; font-weight:normal; };
.ui-btn-down-a { background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #333333), color-stop(0.05, #333333), color-stop(1, #000000)); }
.ui-btn-up-a   { background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #333333), color-stop(0.05, #333333), color-stop(1, #000000)); }
.ui-btn-inner  { border-top-width:0; border-left-width:0; border-right-width:1px; }
