
body {
  background:#222 none repeat scroll 0 0;
  color:#666;
  font-family:Helvetica;
  font-size:72%;
  line-height:1.5em;
  margin:0;
  padding:0;
  border-top:1px solid #393939;
}

/*#info{
  border: 1px solid #ffd324;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear:both;
  margin:15px 6px 0;
  width:295px;
  padding:4px 0px 2px 10px;
}

#info h4{
  font-size:.95em;
  margin:0;
  padding:0;
}

#stage.theme{
  padding-top:3px;
}
*/

/* Content Styling */
/* Stage Buttons */
div.btn, #stage.theme a.btn {
	border: 1px solid #555;
/*	-webkit-border-radius: 5px;*/
	border-radius: 5px;
	text-align:center;
	display:block;
	float:left;
	background:#000;
	width:150px;
	color:#9ab;
	font-size:1.1em;
	text-decoration:none;
	padding:1.2em 0;
	margin:3px 0px 3px 5px;
}

#stage.theme a.btn.large{
	width:308px;
	height:200px;
	padding:1.2em 0;
}

b { font-weight: bold; }

#selectedInterface, #Interfaces, #Destinations, #Preferences, #Info {
  position:absolute;
  left:0em;
  top:0em;
  height:100%;
  width:100%;
  overflow:hidden;
  background-color:#000;
  display:none;
  /*-webkit-transition: height .2s linear;*/
}

#Interfaces { display: block; }

li { color: #fff; }

#selectedInterface { background-color:#000; }

canvas { margin: 0; padding: 0;}

h3 { font-weight: normal;}

#Info { overflow:scroll; height:85%}
#Info #header {
	margin-bottom:1em;
}
#Info p {
	padding:0em 1em;
	color:#ccc;
	font-size:1em;
}

#Info a { color:#ccc; }
#Info ul { list-style:none; padding:1em; font-size:1em;}